@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  outline: 1px solid red;
} */

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  color: grey;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-items: ce;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding: 2px;
  margin-top: auto;
}

.content {
  display: flex;
  align-items: center;
  gap: 18px;
}

.left-links {
  display: flex;
  gap: 15px;
  align-content: flex-start;
  margin-left: 0;
}

.right-links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}